{% extends 'base.html.twig' %}

{% block title %}Liste de courses{% endblock %}

{% block body %}
    <!-- container container-fluid  -->
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">
                <h1> Liste de courses</h1>
                <br>
                <div class="row">
                    {{form_start(formItem)}}
                    <div class="col-6">
                        {{form_widget(formItem)}}
                    </div>
                    <div class="col-2">
                        <button type="submit" id="btn1" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    {{form_end(formItem)}}
                </div>
                <br>
                <table  class="table table-striped">
                    <thead>
                    <th>Item</th>
                    <th>Action</th>
                    </thead>
                    <tbody id="tab1">
                        {% for item in items %}
                        <tr>
                            <td>{{item.nom}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
